:root {
    /* note:  level càng cao <=> màu càng đậm */
    --white: rgb(255, 255, 255);
    --green-level-1: rgb(243, 251, 247);
    --green-level-2: rgb(44, 186, 118);
    --green-level-3: rgb(10, 175, 96);
    --yellow-level-1: rgb(255, 244, 224);
    --yellow-level-2: rgb(255, 231, 186);
    --yellow-level-3: rgb(247, 183, 7);
    --text-color-level-1: rgb(216, 216, 216);
    --text-color-level-2: rgb(188, 188, 188);
    --text-color-level-3: rgb(48, 48, 48);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    position: relative;
}


/* ------------------------------------------------ Menu ------------------------------------------------ */


/* ------------------------------------------------ Cart ------------------------------------------------ */


/* ------------------------------------------------ Clerk ------------------------------------------------ */